<%- include("partials/header") -%>
<h1>Home</h1>
<p>Welcome to my simple blog website! This is where I practiced using MongoDB through Mongoose.js using Node.js and
    Express.js. This database is hosted on the cloud using MongoDB Atlas and is currently deployed on Heroku. Feel free
    to add your own post!</p>
<% posts.forEach(post => {%>
<h1><%= post.title %></h1>
<p>
    <%= post.body.substring(0,100) %> ...
    <a href="/post/<%= post._id %>">Read More</a>
</p>
<% });  %>

<%- include("partials/footer") -%>